body {
  // Light Theme
  // --color-warning: var(--hue-red);
  --color-text-primary: var(--hue-main-dark);
  --color-bg-primary: var(--hue-white);
  --color-bg-head: var(--hue-main-dark-80);
  --color-text-head: var(--hue-white);

  --color-navigator: var(--hue-blue);
  --color-bg-button-from: var(--hue-blue);
  --color-bg-button-to: var(--hue-purple);
  // --color-border-input: var(--hue-light-grey);
}
