#top-bar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  gap: 10px;
  // justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 70px;
  img {
    height: 50px;
  }
}

h1 {
  font-size: var(--font-size-heading);
  font-family: var(--font-title);
  width: 122px;
  color: var(--color-text-head);
  text-shadow: var(--shadow-text-glitch);
}
