*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

html,
body {
  font-family: var(--font-regular);
  font-weight: var(--font-weight-regular);
  color: var(--color-text-primary);
  font-size: var(--font-size-default);
  scroll-behavior: smooth;
  position: relative;
  background-color: var(--color-bg-secondary);
}
button {
  transition: 500ms;
  cursor: pointer;
  border: none;
  font-size: var(--font-size-default);
  font-family: var(--font-regular);
  color: var(--color-text-primary);
}
button:hover,
button:focus {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25) !important;
  text-shadow: none !important;
}
li {
  list-style: none;
}

.clear-fix {
  /* for empty DIV clearing method */
  clear: both !important;
  float: none !important;
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.clearfix::after {
  content: '.';
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.useless {
  display: none !important;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  background-color: white;
  visibility: hidden; /* Hidden by default. Visible on click */
  width: 240px; /* Set a default minimum width */
  max-width: 240px;
  position: fixed; /* Sit on top of the screen */
  z-index: 0; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
  margin-left: -120px; /* Divide value of width by 2 */
  text-align: center; /* Centered text */
  border: solid 2px;
  border-radius: 8px; /* Rounded borders */
  padding: 16px; /* Padding */
  font-weight: bold;
}
/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  z-index: 1000000;
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  animation: fading-in 0.5s, fading-out 0.5s 4s;
}
#snackbar.success {
  background-color: var(--color-secondary);
  color: white;
}
#snackbar.warning {
  background-color: var(--color-attention);
  color: var(--color-attention-highlight);
  animation-delay: 0s, 10s;
}
#snackbar.info {
  background-color: var(--color-section-bg);
  color: var(--color-serious);
}

.attention {
  animation: attention 0.5s alternate-reverse infinite;
}

/* Animations */
@keyframes fading-in {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@keyframes fading-out {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
@keyframes attention {
  from {
    outline: red 0px solid;
  }
  to {
    outline: red 5px solid;
  }
}
