// NOTE: DO NOT FORGET TO USE RELATIVE UNITS FOR FONTS (rem)
// NOTE: STYLE WITH MOBILE-FIRST MINDSET (600px and below)

// focus: Fonts

// focus: Initializing Variables (must be above import of defaults.scss)
:root {
  --font-regular: 'Comic Sans MS', cursive, sans-serif;
  --font-title: 'Squada One', sans-serif;
  --font-size-default: 16px; /* 1rem, 13px=0.8125rem, 18px=1.125rem, 20px=1.25rem, 24px=1.5rem, 32px=2rem, 40px=2.5rem */
  --font-size-hint: 0.8125rem;
  --font-size-heading: 1.25rem;
  --font-size-subtitle: 1.5rem;
  --font-size-title: 2.5rem;
  --font-weight-title: 700;
  --font-weight-regular: 400;
  // --line-height-regular: 1.09;
  // --line-height-title: 1.64;

  --hue-white: #fff;
  --hue-main-dark: #001a32;
  --hue-main-dark-80: rgba(0, 26, 50, 0.8);
  --hue-green: #37ff51;
  --hue-purple: #7e17ce;
  --hue-blue: #43bbef;
  --hue-aqua: #0ff;
  --hue-violet: #f0f;
  --hue-black-25: rgba(0, 0, 0, 0.25);
  --hue-red: #e83a46;


  --border-radius-regular: 10px;
  --shadow-text: 1px 1px 0px var(--hue-black-25);
  --shadow-text-glitch: 1px 0px 0px var(--hue-violet),
    0px 4px 4px var(--hue-black-25);
  // --shadow-text-glitch: -1px 0px 0px var(--hue-aqua),
  //   1px 0px 0px var(--hue-violet), 0px 4px 4px var(--hue-black-25);
  --shadow-button: 0 4px 4px black;

  --space: 10px;
  --space2: calc(var(--space) * 2);
  --space3: calc(var(--space) * 3);
  --space4: calc(var(--space) * 4);
  --space9: calc(var(--space) * 9);

  --margin-input-status: 0;
  // --margin-input-status: calc(var(--space) / 5);
  --length-mobile-max: 600px;
}

// focus: Default style Imports- must be at the top
@import './defaults';
@import './components/Theme';

// focus: Element
::-webkit-scrollbar {
  height: 15px;
  background-color: grey;
  border-radius: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--hue-blue);
  border-radius: 15px;
}

body {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}

input,
select {
  border-radius: var(--border-radius-regular);
  height: 35px;
  border: 1px solid #8596a0;
  padding: 0 var(--space);
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  box-shadow: inset 0 0 2px var(--color-text-primary);

  & ~ .error {
    position: absolute;
    top: 100%;
    display: none;
    font-size: var(--font-size-hint);
    color: var(--color-warning);
    margin-left: var(--space);
    margin-top: var(--margin-input-status);
    // li {
    //   list-style: circle;
    //   margin: 5px;
    // }
  }
  &[aria-invalid='true'] {
    border: 1px solid var(--color-warning);
    & ~ .error {
      display: block;
    }
  }
}

// Hide Arrows From Input Number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

label {
  font-weight: var(--font-weight-title);
}

// focus: IDs
#home-header {
  position: relative;
  width: 100%;
  scroll-behavior: smooth;
  color: var(--color-text-head);
  // font-weight: var(--font-weight-title);
  &::-webkit-scrollbar {
    height: 0;
  }
  & h2 {
    margin: 0;
  }
  & .item {
    position: relative;
    text-align: center;
    margin: 0 5px;
    width: 100vmin;
    max-width: 500px; /* changing this will affect scrolling behaviour, update `headerScrolling` function in Home.js if this property is changed */
    height: 500px;
    text-shadow: var(--shadow-text-glitch);

    background: url(/images/hero.jpg);
    background-position: center;
    background-size: cover;
    .curtain {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      width: 100%;
      height: 100%;
      padding: 90px 25px 70px 25px;

      background: var(--color-bg-head);
    }
  }
}

#register{
  padding: 20px;
  h3{
    margin-bottom: 10px;
  }
  p{
    margin-bottom: 30px;
  }
}

#footer {
  background-color: var(--color-bg-footer);
  color: var(--color-text-footer);
  padding: var(--space3) var(--space);
  text-align: center;
  margin-top: var(--space4);
}

#main-container {
  height: auto;
  min-height: 100vh;
}



// focus: Classes
.btn {
  width: fit-content;
  display: block;
  padding: 6px 10px;
  border-radius: var(--border-radius-regular);
  border: 1px solid var(--color-bg-button-from);
  background: linear-gradient(
    180deg,
    var(--color-bg-button-from) 0%,
    var(--color-bg-button-to) 100%
  );
  box-shadow: var(--shadow-button);
  color: var(--color-text-head);
  font-size: var(--font-size-heading);
  margin: 0 auto;
}

.carousel {
  scroll-behavior: smooth;
  transition: 500ms;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-y: hidden;

  & > ul {
    width: max-content;
    margin: 0 auto;
  }
  .item {
    float: left;
    scroll-snap-align: center;
  }
}

.color-band {
  width: 100%;
  height: 5px;
  background: linear-gradient(
    90deg,
    var(--color-bg-button-from) 0%,
    var(--color-bg-button-to) 100%
  );
}

.exclamation {
  font-size: var(--font-size-title);
  color: var(--hue-green);
}

.navigator {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;
  /* top: -20px; */
  margin: -20px auto 10px;
  & > button {
    width: 30px;
    height: 10px;
    border-radius: 4px;
    background-color: var(--hue-white);
    &.active {
      background-color: var(--color-navigator);
    }
  }
}

.slider {
  position: absolute;
  top: 270px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-bg-slider);

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-heading);

  &.prev {
    right: auto;
    left: 10px;
  }

  * {
    color: var(--color-text-head);
  }
}

.title {
  font-family: var(--font-title);
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-title);
}
.subtitle {
  font-family: var(--font-title);
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-title);
}
.heading {
  font-family: var(--font-regular);
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-title);
}

// focus: Attributes

// focus: Animations

@import './components/Topbar';
@import './components/InputCon';

// focus: Responsive style Import- must be at the bottom
@import './responsive';
